@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* outline: 1px lime solid; */
}

body {
	@apply bg-stone-800 flex flex-col w-screen h-screen justify-center items-center;
}

div.game {
	@apply flex gap-5;
}

canvas {
	height: 500px;
	aspect-ratio: 1/2;
	@apply border-2 border-stone-400;
}

div.game-content {
	@apply flex flex-col justify-between text-white;
}

div.next-block {
	@apply w-20 h-20 border-2 border-stone-400;
}

div.score,
div.controls {
	@apply flex flex-col gap-2;
}

div.controls {
	@apply text-sm;
}

div.controls span {
	@apply text-xl font-sans;
}

button.play {
	@apply bg-emerald-400 text-2xl px-20 py-2 w-max;
}

div.game-content,
button.play {
	font-family: "Press Start 2P", cursive;
}
