body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
	background-color: #16161d;
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
	height: 500px;
	width: 500px;
	background-color: wheat;
}

.temp {
	font-size: 5rem;
	text-align: center;
}

div.temp-icon,
div.weather-icon {
	display: flex;
	justify-content: center;
	align-items: end;
}

#clothing-image {
	width: 100%;
	aspect-ratio: 1;
}

#weather-image {
	width: 100%;
	aspect-ratio: 1;
}
